<script src="/static/vendor/three/three.min.js" defer></script>
<script src="/static/vendor/three/examples/js/controls/OrbitControls.js" defer></script>
<script src="/static/vendor/three/examples/js/libs/fflate.min.js" defer></script>
<script src="/static/vendor/three/examples/js/loaders/STLLoader.js" defer></script>
<script src="/static/vendor/three/examples/js/loaders/3MFLoader.js" defer></script>
<script src="/static/vendor/three/examples/js/loaders/OBJLoader.js" defer></script>
<script src="/static/vendor/three/examples/js/loaders/PLYLoader.js" defer></script>
<script src="/static/vendor/three/examples/js/loaders/GLTFLoader.js" defer></script>
<script src="/static/vendor/three/examples/js/environments/RoomEnvironment.js" defer></script>
<script src="/static/vendor/qrcode/qrcode.js" defer></script>
